/******************************************************************************
*
*  Import Fonts
*
******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
    font-family: 'Titillium Web', sans-serif;
}

/******************************************************************************
*
*  Config Custom Carrousel. Steps:
*  - Removes white gap between slides
*  - Forces image to be 100% width and not max width of 100%
*  - Anchors are inline so you need ot make them block to go full width
*
******************************************************************************/

/*.carousel {
    background: #555 !important;
}*/

.carousel-item .img-fluid {
    width: 100%;
    height: auto;
}

.carousel-item a {
    display: block;
    width: 100%;
}

/******************************************************************************
*
*  Config Background For The Website
*
******************************************************************************/

.bg-main {
    background-color: #efffff;
}

/******************************************************************************
*
*  Config Main Jumbotron
*
******************************************************************************/

.h1-jumbo {
    margin-top: 11rem;
    margin-bottom: 4rem;
}

.bg-jumbotron-main {

    background: url(/assets/img/jumbo-main.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.img-news {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    margin-bottom: 1rem !important;
    width: 300px;
}

@media (min-width: 768px) {
    .img-news {
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: flex !important;
        margin-bottom: 0 !important;
    }

    .img-div {
        float: left !important;
        margin-right: 1rem !important;
    }
}

@media (min-width: 1367px) {
    .img-news {
        width: 450px;
    }

}

/******************************************************************************
*
*  Config Description Province Jumbotron
*
******************************************************************************/

.jumbotron-description {
    border: #2c3e50 0.075rem solid;
    background-color: #FFF;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin: 0 !important;
}

.href-card {
    color: #2c3e50;
}

.href-card:hover {
    background-color: #ecf0f1;
    text-decoration: none;
}

/******************************************************************************
*
*  Create effects at the Navbar
*
******************************************************************************/

.navbar-effect a::before,
.navbar-effect a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-effect a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-effect a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.navbar-effect a:hover::before,
.navbar-effect a:hover::after,
.navbar-effect a:focus::before,
.navbar-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/******************************************************************************
*
*  Animation for button at the navbar
*
******************************************************************************/

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #FFF;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 0.9;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg) translateY(-8px) translateX(8px);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg) translateY(8px) translateX(8px);
    opacity: 0.9;
}

/******************************************************************************
*
*  Change property for some titles
*
******************************************************************************/

.special-title {
    font-family: "Great Vibes", cursive;
    text-shadow: 0.15rem 0.15rem 0.15rem #fff !important;
}

.special-title:hover {
    color: white !important;
    text-shadow: 0.15rem 0.15rem 0.15rem #2c3e50 !important;
    cursor: pointer;

}

.href-special-title:hover {
    text-decoration: none !important;
}

.center-titles {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: #2c3e50;
}

@media (min-width: 768px) {
    .center-titles {
        font-size: 4.5rem;
    }
}

/******************************************************************************
*
*  Width and height for Vector Map
*
******************************************************************************/
#mapa {
    min-width: 98%;
    height: 72vh;
}

/******************************************************************************
*
*  Footer
*
******************************************************************************/

.footer {
    padding-top: 2rem;
}

.footer-col {
    text-align: center;
    text-transform: uppercase;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}

.icon-left {
    display: none;
}

.facebook {
    color: #FFFFFF !important;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}

.facebook:hover {
    color: #3b5998 !important;
    border-radius: 0.5rem;
    background-color: #FFFFFF !important;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    box-shadow: 5px 5px 3px #ccc;
}

.twitter {
    color: #FFFFFF !important;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}

.twitter:hover {
    color: #00aced !important;
    border-radius: 0.5rem;
    background-color: #FFFFFF !important;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    box-shadow: 5px 5px 3px #ccc;
}

.whatsapp {
    color: #FFFFFF !important;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}

.whatsapp:hover {
    background: #25d366 !important;
    border-radius: 0.5rem;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    box-shadow: 5px 5px 3px #ccc;
}

.instagram {
    color: #FFFFFF !important;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}

.instagram:hover {
    background: #bc2a8d !important;
    border-radius: 0.5rem;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    box-shadow: 5px 5px 3px #ccc;
}


/******************************************************************************
*
*  Footer Media Query < 768px
*
******************************************************************************/

@media (min-width: 768px) {
    .icon-left {
        display: inline-block;
    }

    .footer-left {
        text-align: left;
    }

    .footer-center {
        text-align: center;
        margin-top: 1.5rem;
    }

    .row-special {
        flex-wrap: nowrap;
    }

    .footer-right {
        text-align: right;
    }

}

/******************************************************************************
*
*  Configuration for Gridder.js
*
******************************************************************************/

.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0;
}

.gridder-list, .gridder-show {
    font-size: 16px;
}

.gridder-list {
    display: inline-block;
    vertical-align: top;
}

.gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

.gridder-content {
    display: none;
}

.gridder-list:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%;
}

.gridder-list:nth-of-type(2n) {
    margin-right: 1%;
    margin-bottom: 1%;
}

.gridder-navigation {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    text-align: center
}

.gridder-navigation a {
    background: #2c3e50;
    display: inline-block;
    padding: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    margin-right: 0px;
    transition: all .3s ease-in-out
}

.gridder-navigation a:hover {
    background: #FFFFFF;
    color: #2c3e50;
}

.gridder-navigation a.disabled {
    opacity: 0
}

.gridder-expanded-content {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both;
    background-color: #fff;
    border: #2c3e50 0.1rem solid;
    margin-bottom: 1%;
}